/////////////TEST/////
.page1 {
    // display: none;
}

// @import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');
$primary: #81d4fa;
$dark-grey: #3d3d3d;
///////////////////////////
@mixin color($c) {
    color: $c;
    @media print {
        & {
            color: $c!important;
            -webkit-print-color-adjust: exact!important;
        }
    }
}

@mixin background-color($c) {
    background-color: $c;
    @media print {
        & {
            background-color: $c!important;
            -webkit-print-color-adjust: exact!important;
        }
    }
}

@page {
    size: Letter;
    margin: 0;
}

* {
    box-sizing: border-box;
    // font-weight: 300!important;
}

#printBtn {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 999999;
    @media print {
        display: none;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

body {
    margin: 0;
    display: block;
    width: 100%;
    @include background-color(whitesmoke);
    // font-family: 'Roboto';
}

page {
    @media print {
        height: 11in!important;
    }
    max-width: 8.5in;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 15px 1px black;
    @include background-color(white);
}

.clear {
    clear: both;
}

hr {
    margin: 0!important;
}

.page-header {
    font-family: 'Montserrat', sans-serif;
    @include background-color($dark-grey);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 20px 50px;
    padding-bottom: 35px;
    .name {
        font-size: 2.5em;
        position: relative;
        color: $primary;
    }
    .contact {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        p {
            font-size: 10pt;
            margin: 0;
        }
    }
    .left {
        float: none;
        order: 1;
        flex-grow: 0;
    }
    .right {
        order: 3;
        flex-grow: 0;
        color: white;
        text-align: right;
        line-height: 20px;
    }
}

.page2 {
    margin-top: 20px;
    .page-header {
        // display: none;
        padding-top: 30px;
        flex-direction: row;
        // @media print {
        //     display: flex;
        // }
        height: 20px;
        .left {
            .name {
                color: white;
                .last {
                    position: relative;
                    top: 0px;
                    left: 10px;
                }
            }
        }
    }
}

.page-body {
    // border-left: 1px solid black;
    padding: 0 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    h1 {
        // font-family: 'Montserrat', sans-serif;
    }
}

.timeline {
    @media screen and (max-width: 630px) {
        display: none;
    }
    height: 24px;
    position: relative;
    @include background-color(#dadada);
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    box-shadow: 0 0px 3px 0px #000;
    border-bottom: 1px solid black;
    margin: 0 -20px 25px -20px;
    .period {
        display: inline-block;
        position: relative;
        .desc {
            z-index: 9;
            position: relative;
            height: 23px;
            padding: 2px 10px 2px 10px;
            @include background-color(white);
            color: #000;
            border: 2px solid #000000;
            border-width: 0 2px 0 2px;
            // box-shadow: 0px 0px 2px 1px #000000;
            text-align: center;
            img {
                height: 19px;
            }
        }
        .year1 {
            position: absolute;
            color: white;
            top: -23px;
            left: -17px;
            font-style: italic;
        }
        .year2 {
            position: absolute;
            color: black;
            right: -25px;
            top: 30px;
            // font-weight: 600;
            font-style: italic;
        }
        &#uni {
            .desc {
                border-radius: 20px 0 0 20px;
            }
        }
        &#bb {
            img {
                height: 20px;
            }
        }
        &#ibm1 {}
        &#grad {
            .desc {
                border-radius: 0 20px 20px 0;
            }
            .year1 {
                height: 18px;
                display: block;
            }
        }
        &:last-of-type{
            width: 130px;
            .desc {
                border-radius: 20px 0 0 20px;
                border-right: none;
            }
            .year2 {
                left: 60px;
                width: 66px;
            }
        }
    }
}

.made-with {
    margin-top: 10px;
    font-size: small;
    display: none;
    @media print {
        display: block;
    }
}

.sections-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
    padding-bottom: 10px;
}

.section {
    position: relative;
    padding: 10px 10px 0px 10px;
    ul {
        margin: 0;
    }
    .content {
        padding-top: 10px;
        // border: 1px solid lightgray;
        border-radius: 0 0 15px 15px;
    }
    h1 {
        font-size: 14pt;
        width: 100%;
        text-align: center;
        border: solid 1px black;
        color: #2a2a2a;
        @include background-color($dark-grey);
        color: white;
        border-radius: 20px 20px 0 0;
        margin: 0;
    }
    h2 {
        font-size: 12pt;
        margin: 0;
        font-weight: 400;
    }
    p {
        margin: 0;
        font-size: 11pt;
    }
    ////////////////
    // objective
    ///////////////
    &.summary {
        .content {
            p {
                margin: 0;
            }
        }
    }
    ////////////////
    // EDUCTAION
    ///////////////
    &.education {
        // h1 {
        //     top: 150px;
        // }
        .content {
            .row1 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap-reverse;
                justify-content: space-between;
                align-items: center;
                padding-left: 20px;
             
                
                &.uoft {
                    margin-top: -5px;
                    
                }
                &.aws {
                    margin-top: 3px;
                    .left {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        h2 {
                            padding-top: 4px;
                        }
                    }
                }
                .left {
                    .icon {
                        width: 15px;
                        margin-right: 7px;
                        font-size: 14px;
                        padding-right: 0px;
                        padding-top: 3px;
                    }
                }
                .right {
                    float: right;
                    position: relative;
                    display: block;
                    margin-right: 130px;
                    max-height: 40px;
                    img {
                        width: 130px;
                    }
                    img.carleton {
                        // max-width: 105px;
                        // padding-left: 40px;
                        height: 30px;
                    }
                    img.UofT-logo {
                        // padding-left: 0px;
                        // margin-left: -25px;
                        // max-width: 121px;
                        // max-height: 40px;
                        margin-top: -10px;
                    }
                    img.aws {
                     
                        margin-top: 5px;
                    }
                }
                @media screen and (max-width:660px) {
                    // & {
                    //     padding-left: 0px;
                    //     justify-content: space-around;
                    // }
                }
                @media print {
                    // & {
                    //     height: 70px;
                    // }
                    // .right {
                    //     img {
                    //         width: 120px;
                    //     }
                    // }
                }
            }
            .row2 {
                padding-left: 40px;
                ul {
                    padding-left: 0;
                    margin-top: 3px;
                    list-style-type: none;
                    li {
                        float: left;
                        width: 100%;
                        font-size: 9pt;
                        .righted {
                            text-align: left;
                            width: 65%;
                            float: right;
                        }
                    }
                }
            }
        }
    }
    &.skills {
        width: 4.5in;
        h1 {
            margin: 0px;
        }
        .content {
            // margin-bottom: 0px;
            // h3 {
            //     margin-bottom: 0;
            //     margin-top: 8px;
            // }
            .title {
                font-weight: 800;
            }
            object {
                max-width: 450px;
                padding-top: 20px;
                display: block;
            }
            @media print {
                object {
                    // max-height: 440px;
                    // padding: 30px;
                }
            }
            .skill-map {
                // position: absolute;
                border: 1px solid lightgray;
                border-radius: 0 0 5px 5px;
                margin-top: -10px;
                padding: 5px;
                text-align: center;
                .map-desc {
                    display: inline-block;
                    margin: 0;
                    padding-left: 5px;
                    font-size: 15px;
                }
                .map-key {
                    top: 5px;
                    position: relative;
                    display: inline-block;
                    border-radius: 10px;
                    width: 20px;
                    height: 20px;
                    margin: 3px;
                }
                .key-dark {
                    @include background-color(#efefef);
                    border: 2px solid black;
                    width: 16px;
                    height: 16px;
                }
                .key-blue {
                    @include background-color(#81d4fa);
                }
                .key-light {
                    @include background-color(#03a9f4);
                }
            }
        }
    }
    &.projects {
        max-width: 3.3in;
        width: 100%;
        .content {
            padding-top: 0;
            div.project {
                box-sizing: border-box;
                border: 1px solid lightgray;
                // border-radius: 10px;
                padding: 5px 10px;
                margin: 0;
                &:last-child {
                    border-radius: 0 0 15px 15px;
                }
                h3 {
                    padding: 0;
                    margin: 0;
                    font-weight: 600!important;
                    font-size: 12pt;
                }
                span.smaller {
                    color: gray;
                    font-size: 10pt;
                }
                p {
                    font-size: 11pt;
                    color: gray;
                    font-weight: 600;
                }
                li {
                    font-size: 11pt;
                    list-style: square;
                }
            }
        }
    }
    &.employment {
        // padding-top: 0;
        h1 {
            top: 75vh;
            @media print {
                top: 55vh;
            }
        }
        .job-wrapper {
            &:not(:first-of-type) {
                padding-top: 20px;
            }
            .job-title {
                height: 55px;
                display: block;
                padding: 0 20px;
                font-weight: 700;
                font-size: 1.1rem;
                .left {
                    float: left;
                }
                .right {
                    float: right;
                    padding-top: 2px;
                    line-height: 25px;
                    text-align: right;
                }
                .logo {
                    height: 30px;
                    padding-bottom: 4px;
                }
                .dates {
                    font-style: italic;
                    font-weight: 400;
                }
            }
            .job-details {
                padding-right: 20px;
                font-size: 11pt;
                ul {
                    margin: 5px 0;
                }
            }
        }
    }
}