@font-face {
  font-family: garamond;
  font-style: normal;
  src: url("fonts/garamond.ttf");
}
@page {
  size: Letter;
  margin: 0;
}
body,
page {
  margin: 0;
  font-family: garamond;
  display: block;
  width: 100%;
  background-color: #f5f5f5;
}
@media print {
  body,
  page {
    background-color: #f5f5f5 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
page {
  max-width: 8.5in;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px #000;
  background: #fff;
}
@media print {
  page {
    height: 11in !important;
  }
}
.clear {
  clear: both;
}
hr {
  margin: 0 !important;
}
.page-header {
  background-color: #2a2a2a;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 50px;
  font-family: cambria;
  padding-bottom: 35px;
}
@media print {
  .page-header {
    background-color: #2a2a2a !important;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .page-header {
    color: #fff !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.page-header .left {
  float: none;
  order: 1;
  flex-grow: 0;
}
.page-header .left .name {
  font-size: 3em;
  top: -10px;
  position: relative;
  color: #b4f1c5;
}
@media print {
  .page-header .left .name {
    color: #b4f1c5 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.page-header .left .name .last {
  position: relative;
  top: 20px;
}
.page-header .left .major {
  color: #fff;
  font-weight: 600;
}
@media print {
  .page-header .left .major {
    color: #fff !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.page-header .right {
  order: 3;
  flex-grow: 0;
  color: #fff;
  text-align: right;
  line-height: 20px;
}
@media print {
  .page-header .right {
    color: #fff !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.page2 .page-header {
  height: 20px;
}
@media print {
  .page2 .page-header {
    display: flex;
  }
}
.page2 .page-header .left .name {
  color: #fff;
}
@media print {
  .page2 .page-header .left .name {
    color: #fff !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.page2 .page-header .left .name .last {
  position: relative;
  top: 0px;
  left: 10px;
}
.page-body {
  border-left: 1px solid #000;
  margin-left: 49px;
}
.timeline {
  font-family: cambria;
  height: 24px;
  position: relative;
  background-color: #dadada;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  box-shadow: 0 0px 3px 0px #000;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 630px) {
  .timeline {
    display: none;
  }
}
@media print {
  .timeline {
    background-color: #dadada !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.timeline .period {
  display: inline-block;
  position: relative;
}
.timeline .period .desc {
  z-index: 9;
  position: relative;
  height: 20px;
  padding: 2px 10px 2px 10px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-width: 0 2px 0 2px;
  text-align: center;
}
@media print {
  .timeline .period .desc {
    background-color: #fff !important;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .timeline .period .desc {
    color: #000 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.timeline .period .desc img {
  height: 19px;
}
.timeline .period .year1 {
  position: absolute;
  color: #fff;
  top: -23px;
  left: -17px;
  font-style: italic;
}
@media print {
  .timeline .period .year1 {
    color: #fff !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.timeline .period .year2 {
  position: absolute;
  color: #000;
  right: -25px;
  top: 30px;
  font-style: italic;
}
@media print {
  .timeline .period .year2 {
    color: #000 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.timeline .period#uni .desc {
  border-radius: 20px 0 0 20px;
}
.timeline .period#bb img {
  height: 20px;
}
.timeline .period#grad .desc {
  border-radius: 0 20px 20px 0;
}
.timeline .period#grad .year1 {
  height: 18px;
  display: block;
}
.timeline .period#ibm2 {
  width: 130px;
}
.timeline .period#ibm2 .desc {
  border-radius: 20px 0 0 20px;
  border-right: none;
}
.timeline .period#ibm2 .year2 {
  left: 60px;
  width: 66px;
}
.section {
  position: relative;
  padding: 10px 10px 0px 10px;
}
.section h1 {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: absolute;
  font-size: 1.5em;
  margin: auto auto;
  color: #2a2a2a;
  left: -1.5em;
}
@media print {
  .section h1 {
    color: #2a2a2a !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.section h2 {
  font-size: 1.3em;
}
.section p {
  font-size: 1.2em;
}
.section.summary h1 {
  top: 130px;
}
.section.summary .content {
  min-height: 90px;
  padding: 33px 20px 10px 20px;
}
.section.summary .content p {
  margin: 0;
}
.section.education h1 {
  top: 150px;
}
.section.education .content .row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding-left: 20px;
}
.section.education .content .row1 .right {
  margin: 0 auto;
  display: block;
}
.section.education .content .row1 .right img {
  width: 100%;
  max-height: 50px;
  max-width: 130px;
}
.section.education .content .row1 .right h4 {
  text-align: center;
  margin-top: 5;
  margin-bottom: 0;
}
.section.education .content .row1 .left h2 {
  margin: 0;
}
@media screen and (max-width: 660px) {
  .section.education .content .row1 {
    padding-left: 0px;
    justify-content: space-around;
  }
}
@media print {
  .section.education .content .row1 {
    height: 70px;
  }
  .section.education .content .row1 .right img {
    width: 160px;
  }
}
.section.education .content .row2 {
  padding-left: 20px;
}
.section.education .content .row2 ul {
  padding-left: 0;
  margin-top: 5px;
  list-style-type: none;
}
.section.education .content .row2 ul li {
  float: left;
  width: 100%;
}
.section.education .content .row2 ul li .righted {
  text-align: left;
  width: 40%;
  float: right;
}
.section.skills .content {
  margin-bottom: 10px;
}
.section.skills h1 {
  top: 425px;
}
.section.skills h3 {
  margin-bottom: 0;
  margin-top: 8px;
}
.section.skills .title {
  font-weight: 800;
}
.section.skills object {
  max-width: 600px;
  padding: 30px;
  margin: 0 auto;
  display: block;
}
@media print {
  .section.skills object {
    max-height: 450px;
    padding: 30px;
  }
}
.section.skills .skill-map {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.section.skills .skill-map .map-desc {
  display: inline-block;
  margin: 0;
  padding-left: 5px;
  font-size: 15px;
}
.section.skills .skill-map .map-key {
  top: 5px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin: 3px;
}
.section.skills .skill-map .key-dark {
  background-color: #7b93a4;
}
@media print {
  .section.skills .skill-map .key-dark {
    background-color: #7b93a4 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .section.skills .skill-map .key-dark {
    background-color: #7b93a4;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .section.skills .skill-map .key-dark {
    background-color: #7b93a4 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.section.skills .skill-map .key-blue {
  background-color: #92cbc4;
}
@media print {
  .section.skills .skill-map .key-blue {
    background-color: #92cbc4 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .section.skills .skill-map .key-blue {
    background-color: #92cbc4;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .section.skills .skill-map .key-blue {
    background-color: #92cbc4 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.section.skills .skill-map .key-light {
  background-color: #b4f1c5;
}
@media print {
  .section.skills .skill-map .key-light {
    background-color: #b4f1c5 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .section.skills .skill-map .key-light {
    background-color: #b4f1c5;
    -webkit-print-color-adjust: exact !important;
  }
}
@media print {
  .section.skills .skill-map .key-light {
    background-color: #b4f1c5 !important;
    -webkit-print-color-adjust: exact !important;
  }
}
.section.skills .made-with {
  font-size: small;
  display: none;
}
@media print {
  .section.skills .made-with {
    display: block;
  }
}
.section.employment {
  padding-bottom: 30px;
}
.section.employment h1 {
  top: 75vh;
}
@media print {
  .section.employment h1 {
    top: 55vh;
  }
}
.section.employment .job-wrapper {
  padding-top: 20px;
}
.section.employment .job-wrapper .job-title {
  height: 55px;
  display: block;
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.1rem;
}
.section.employment .job-wrapper .job-title .left {
  float: left;
}
.section.employment .job-wrapper .job-title .right {
  float: right;
  padding-top: 2px;
  line-height: 25px;
  text-align: right;
}
.section.employment .job-wrapper .job-title .logo {
  height: 24px;
  padding-bottom: 4px;
}
.section.employment .job-wrapper .job-title .dates {
  font-style: italic;
  font-weight: 400;
}
.section.employment .job-wrapper .job-details {
  padding-right: 20px;
}
.section.employment .job-wrapper .job-details ul {
  margin: 5px 0;
}
